<div class="tasklist container">
    <div>
        {{#each habits}}
            <div class="task-container">
                <h1 class="task-title">{{this.title}}</h1>
                <p class="task-category">{{this.category}}</p>
                <div class="task-options-container">

                    <form action="/tasks/update" method="get">
                        <input type="hidden" name="id" value="{{this.id}}" />
                        <input
                            type="submit"
                            value="Modificar"
                            class="button option-button update-button"
                        />
                    </form>
                    <button
                        class="button option-button delete-button"
                        id="delete-button"
                    >Eliminar</button>
                    <form action="/tasks/detail" method="get">
                        <input type="hidden" name="id" value="{{this.id}}" />
                        <input
                            type="submit"
                            value="Detalles"
                            class="button option-button"
                        />
                    </form>
                </div>
            </div>
            <div class="blur-container" id="blur-container">
                <div class="confirm-container" id="confirm-container">
                    <p class="confirm-text">¿Está Seguro?</p>
                    <div class="confirm-buttons-container">
                        <form action="/delete" method="get">
                            <input
                                type="hidden"
                                name="id"
                                value="{{this.id}}"
                            />
                            <input type="submit" value="Si" class="button" />
                        </form>
                        <button
                            class="button confirm-button-no"
                        >No</button>
                    </div>
                </div>
            </div>
        {{else}}
            <p class="no-tasks">No hay ningun habito creado</p>
        {{/each}}
    </div>
    <button class="tasklist-button button">
        <a href="/tasks/add">Agregar Habito</a>
    </button>
</div>
