<div class="h-full flex flex-col items-center gap-4">
    {{#if tasksFounded}}
        <h1 class="text-2xl font-bold">Tareas Encontradas</h1>
        <table class="border border-[#c5bde5] rounded-md block divide-y-2 overflow-hidden">
            <thead class="text-gray-400">
                <tr class="divide-x-2 divide-[#c5bde5] [&>td]:text-center [&>td]:px-20 [&>td]:py-2">
                    <td>Titulo</td>
                    <td>Categoria</td>
                    <td>Hecha</td>
                    <td>Finaliza el</td>
                </tr>
            </thead>
            <tbody>
                {{#each tasksFounded}}
                    <tr class="[&>td]:px-4 [&>td]:py-2 divide-x-2 divide-[#c5bde5] odd:bg-[#13234e] even:bg-[#263997]">
                        <td>{{this.title}}</td>
                        <td>{{this.category}}</td>
                        <td>
                            {{#if this.done}}
                                Si
                            {{else}}
                                No
                            {{/if}}
                        </td>
                        <td>{{this.finish_at}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{else}}
        <h1 class="text-2xl font-bold">No se encontro ninguna tarea</h1>
        {{> tasks/searchTaskInput}}
    {{/if}}
</div>
