<div class="tasklist container">
    <div class="list-title-container">
        <form action="/tasks/list" method="get" id="order-form">
            <select class="order-container" id="order-container" name="order">
                <option selected hidden>Ordenar</option>
                {{#if (compare orderText "title ASC")}}
                    <option selected value="title ASC">Titulo (A-Z)</option>
                {{else}}
                    <option value="title ASC">Titulo (A-Z)</option>
                {{/if}}

                {{#if (compare orderText "title DESC")}}
                    <option selected value="title DESC">Titulo (Z-A)</option>
                {{else}}
                    <option value="title DESC">Titulo (Z-A)</option>
                {{/if}}

                {{#if (compare orderText "created_at DESC")}}
                    <option selected value="created_at DESC">Fecha de Creación
                        (Descendiente)</option>
                {{else}}
                    <option value="created_at DESC">Fecha de Creación
                        (Descendiente)</option>
                {{/if}}

                {{#if (compare orderText "created_at ASC")}}
                    <option selected value="created_at ASC">Fecha de Creación
                        (Ascendente)</option>
                {{else}}
                    <option value="created_at ASC">Fecha de Creación
                        (Ascendente)</option>
                {{/if}}

                {{#if (compare orderText "finish_at DESC")}}
                    <option selected value="finish_at DESC">Fecha de
                        Finalización (Descendiente)</option>
                {{else}}
                    <option value="finish_at DESC">Fecha de Finalización
                        (Descendiente)</option>
                {{/if}}

                {{#if (compare orderText "finish_at ASC")}}
                    <option selected value="finish_at ASC">Fecha de Finalización
                        (Ascendente)</option>
                {{else}}
                    <option value="finish_at ASC">Fecha de Finalización
                        (Ascendente)</option>
                {{/if}}
            </select>
        </form>
        <p class="list-title">Tareas</p>
        <button class="add-button button">
            <a href="/tasks/add">Agregar Tarea <i class="gg-math-plus"></i></a>
        </button>
    </div>
    <div class="list-container">
        {{#each tasks}}
            <div class="task-container element">
                <i class="gg-chevron-down expand-icon" id="expand-icon"></i>
                <h1 class="task-title">{{this.title}}</h1>
                <p class="task-category category-expand">{{this.category}}</p>
                <div class="list-options-container options-expand">

                    <form action="/tasks/update" method="get">
                        <input type="hidden" name="id" value="{{this.id}}" />
                        <input
                            type="submit"
                            value="Modificar"
                            class="button option-button update-button"
                        />
                    </form>
                    <button
                        class="button option-button delete-button"
                        id="delete-button"
                    >Eliminar</button>
                    <form action="/tasks/detail" method="get">
                        <input type="hidden" name="id" value="{{this.id}}" />
                        <input
                            type="submit"
                            value="Detalles"
                            class="button option-button"
                        />
                    </form>
                </div>
            </div>
            <div class="blur-container" id="blur-container">
                <div class="confirm-container" id="confirm-container">
                    <p class="confirm-text">¿Está Seguro?</p>
                    <div class="confirm-buttons-container">
                        <form action="/tasksDelete" method="get">
                            <input
                                type="hidden"
                                name="id"
                                value="{{this.id}}"
                            />
                            <input type="submit" value="Si" class="button" />
                        </form>
                        <button class="button confirm-button-no">No</button>
                    </div>
                </div>
            </div>
        {{else}}
            <p class="no-tasks">No Hay Ninguna Tarea Creada</p>
        {{/each}}
    </div>
</div>
