<div class="h-full flex flex-col">
    <div class="grid grid-cols-3">
        <div class="flex items-center gap-4">
            <form
                action="/tasks/list"
                method="get"
                class="w-2/4"
                id="order-form"
            >
                <select id="order-container" name="order">
                    <option selected hidden >Ordenar</option>
                    {{#if (compare orderText "title ASC")}}
                        <option selected value="title ASC">Titulo (A-Z)</option>
                    {{else}}
                        <option value="title ASC">Titulo (A-Z)</option>
                    {{/if}}

                    {{#if (compare orderText "title DESC")}}
                        <option selected value="title DESC">Titulo (Z-A)</option>
                    {{else}}
                        <option value="title DESC">Titulo (Z-A)</option>
                    {{/if}}

                    {{#if (compare orderText "created_at DESC")}}
                        <option selected value="created_at DESC">Fecha de
                            Creación (Descendiente)</option>
                    {{else}}
                        <option value="created_at DESC">Fecha de Creación
                            (Descendiente)</option>
                    {{/if}}

                    {{#if (compare orderText "created_at ASC")}}
                        <option selected value="created_at ASC">Fecha de
                            Creación (Ascendente)</option>
                    {{else}}
                        <option value="created_at ASC">Fecha de Creación
                            (Ascendente)</option>
                    {{/if}}

                    {{#if (compare orderText "finish_at DESC")}}
                        <option selected value="finish_at DESC">Fecha de
                            Finalización (Descendiente)</option>
                    {{else}}
                        <option value="finish_at DESC">Fecha de Finalización
                            (Descendiente)</option>
                    {{/if}}

                    {{#if (compare orderText "finish_at ASC")}}
                        <option selected value="finish_at ASC">Fecha de
                            Finalización (Ascendente)</option>
                    {{else}}
                        <option value="finish_at ASC">Fecha de Finalización
                            (Ascendente)</option>
                    {{/if}}
                </select>
            </form>
            <form
                action="/tasks/list"
                method="get"
                class="w-1/3"
                id="done-select-form"
            >
                <select name="doned" id="done-select" class="bg-transparent border border-[#c5bde5] px-2 py-1 cursor-pointer focus:outline-none rounded-md w-full">
                    {{#if (compare doned "yes-done")}}
                        <option value="no-done">No Hechas</option>
                        <option selected value="yes-done">Hechas</option>
                    {{else}}
                        <option selected value="no-done">No Hechas</option>
                        <option value="yes-done">Hechas</option>
                    {{/if}}
                </select>
            </form>
        </div>
        <p class="text-2xl font-bold flex items-center justify-center">Tareas</p>
        <div class="flex justify-end">
            {{#> buttons/button_link url='/tasks/add' content='Agregar Tarea' class='flex py-2 px-4 gap-2 items-center'}}
                <svg width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 5l0 14"></path>
                    <path d="M5 12l14 0"></path>
                </svg>
            {{/buttons/button_link}}
        </div>
    </div>
    {{> tasks/listTasks}}
</div>
