<div class="details container">
    <div class="detail-title-container">
        <h2 class="detail-title">{{task.title}}</h2>
    </div>
    <div class="detail-category-container">
        <p class="detail-category">{{task.category}}</p>
    </div>
    <div class="detail-date-container">
        <p class="detail-date-created">{{task.created_at}}</p>
        <p class="detail-date-finished">{{task.finish_at}}</p>
    </div>
    <div class="detail-description-container">
        <p class="detail-description">{{task.description}}</p>
    </div>
</div>
