<div class="tasklist container">
    <table border="1" class="tasklist-table">
        <thead>
            <td>ID</td>
            <td>Titulo</td>
            <td>Descripcion</td>
            <td>Se creo el</td>
            <td>Finaliza el</td>
            <td>Categoria</td>
        </thead>
        <tbody>
            {{#each tasks}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.title}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.created_at}}</td>
                    <td>{{this.finish_at}}</td>
                    <td>{{this.category}}</td>
                    <td>
                        <form action="/tasklist/update" method="get">
                            <input type="hidden" name="id" value="{{this.id}}">
                            <input type="submit" value="Modificar" class="button option-button">
                        </form>
                    </td>
                    <td>
                        <form action="/delete" method="get">
                            <input type="hidden" name="id" value="{{this.id}}">
                            <input type="submit" value="Eliminar" class="button option-button">
                        </form>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    <button class="tasklist-button button">
        <a href="/tasklist/add">Agregar Tarea</a>
    </button>
</div>
