<div>
    <input
        type="text"
        name="title"
        class="input"
        placeholder="Titulo"
        value="{{title}}"
        autofocus
        required
    />
    <textarea
        class="description input"
        name="description"
        rows="10"
        placeholder="Descripcion"
        required
    >{{description}}</textarea>
    <label for="days-container">Dias:</label>
    <div class="days-container" id="days-container">
        {{#if days}}

            {{#if (checkDays days 'Lunes')}}
                <input type="text" name="days" readonly class="day selected" value="Lunes">
            {{else}}
                <input type="text" readonly class="day" value="Lunes">
            {{/if}}

            {{#if (checkDays days 'Martes')}}
                <input type="text" name="days" readonly class="day selected" value="Martes">
            {{else}}
                <input type="text"  readonly class="day" value="Martes">
            {{/if}}

            {{#if (checkDays days 'Miercoles')}}
                <input type="text" name="days" readonly class="day selected" value="Miercoles">
            {{else}}
                <input type="text" readonly class="day" value="Miercoles">
            {{/if}}

            {{#if (checkDays days 'Jueves')}}
                <input type="text" name="days" readonly class="day selected" value="Jueves">
            {{else}}
                <input type="text" readonly class="day" value="Jueves">
            {{/if}}

            {{#if (checkDays days 'Viernes')}}
                <input type="text" name="days" readonly class="day selected" value="Viernes">
            {{else}}
                <input type="text" readonly class="day" value="Viernes">
            {{/if}}

            {{#if (checkDays days 'Sabado')}}
                <input type="text" name="days" readonly class="day selected" value="Sabado">
            {{else}}
                <input type="text" readonly class="day" value="Sabado">
            {{/if}}

            {{#if (checkDays days 'Domingo')}}
                <input type="text" name="days" readonly class="day selected" value="Domingo">
            {{else}}
                <input type="text" readonly class="day" value="Domingo">
            {{/if}}

        {{else}}
            <input type="text" readonly class="day" value="Lunes">
            <input type="text" readonly class="day" value="Martes">
            <input type="text" readonly class="day" value="Miercoles">
            <input type="text" readonly class="day" value="Jueves">
            <input type="text" readonly class="day" value="Viernes">
            <input type="text" readonly class="day" value="Sabado">
            <input type="text" readonly class="day" value="Domingo">
        {{/if}}
    </div>
    <label for="time-input">Hora:</label>
    <input type="time" name="time_to_do" id="time-input" class="input" value="{{time_to_do}}">
    <label for="category-select">Categoria:</label>
    <select
        name="category"
        id="category-select"
        class="category input"
        required
    >
        <option hidden>Seleccione</option>
        <option {{#if (compare this.category 'Academica')}}
                selected
                {{/if}} 
                value="Academica">Academica</option>

        <option {{#if (compare this.category 'Salud')}}
                selected
                {{/if}}
                value="Salud">Salud</option>

        <option {{#if (compare this.category 'Practica')}}
                selected
                {{/if}}
                value="Practica">Practica</option>
    </select>
</div>    
