<div class="list-container" id="list-container">
    {{#each tasks}}
        <div class="task-container element">
            <i class="gg-chevron-down expand-icon" id="expand-icon"></i>
            <div class="task-title-container">
                {{#unless this.done}}
                    <form
                        action="/tasksDone"
                        method="post"
                        class="task-title-container done-form"
                        id="done-form"
                    >
                        <input type="hidden" name="id" value="{{this.id}}" />
                        <input
                            type="checkbox"
                            name="done"
                            class="done-check"
                            id="done-check"
                        />
                    </form>
                {{/unless}}
                <h1 class="task-title">{{this.title}}</h1>
            </div>
            <p class="task-category category-expand">{{this.category}}</p>
            <div class="list-options-container options-expand">
                <button class="button update-button">
                    <form action="/tasks/update" method="get">
                        <input type="hidden" name="id" value="{{this.id}}" />
                        <i class="gg-pen icon"></i>
                        <input
                            type="submit"
                            value="Modificar"
                            class="option-button"
                        />
                    </form>
                </button>
                <div class="button delete-button" id="delete-button">
                    <i class="gg-erase icon"></i>
                    <button class="option-button">Eliminar</button>
                </div>
                <button class="button detail-button">
                    <form action="/tasks/detail" method="get">
                        <input type="hidden" name="id" value="{{this.id}}" />
                        <i class="gg-menu-left icon"></i>
                        <input
                            type="submit"
                            value="Detalles"
                            class="option-button"
                        />
                    </form>

                </button>
            </div>
        </div>
        <div class="blur-container" id="blur-container">
            <div class="confirm-container" id="confirm-container">
                <p class="confirm-text">¿Está Seguro?</p>
                <div class="confirm-buttons-container">
                    <form action="/tasksDelete" method="get">
                        <input type="hidden" name="id" value="{{this.id}}" />
                        <input type="submit" value="Si" class="button" />
                    </form>
                    <button class="button confirm-button-no">No</button>
                </div>
            </div>
        </div>
    {{else}}
        {{#if (compare doned "yes-done")}}
            <p class="no-tasks">No Hay Ninguna Tarea Hecha</p>
        {{else}}
            <p class="no-tasks" id="no-tasks">No Hay Ninguna Tarea Creada</p>
        {{/if}}
    {{/each}}
</div>
