<div class="form-input">
    {{> inputs/input id='username-input' label='Usuario' type='text' name='username' placeholder='Ingrese su usuario'}}
    {{#if usernameMessage}}
        <span class="error-text">{{usernameMessage}}</span>
    {{/if}}
    {{#if usernameExists}}
        <span class="error-text">{{usernameExists}}</span>
    {{/if}} 
    {{#if dataErr}}
        <span class="error-text">{{dataErr}}</span>
    {{/if}}
</div>
<div class="form-input">
    {{> inputs/input id='password-inpu' label='Contraseña' type='password' name='password' placeholder='Ingrese su contraseña'}}
    {{#if passwordMessage}}
        <span class="error-text">{{passwordMessage}}</span>
    {{/if}}
    {{#if dataErr}}
        <span class="error-text">{{dataErr}}</span>
    {{/if}}
</div>
