<div class="input">
    {{#if label}}
        <label for="{{id}}">{{label}}</label>
    {{/if}}
    <input
        type="{{type}}"
        name="{{name}}"
        autocomplete="off"
        placeholder="{{placeholder}}"
        class="bg-transparent focus:outline-none focus:border-none"
        id="{{id}}"
        value="{{value}}"
    />
</div>
