<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap"
            rel="stylesheet"
        />
        <title>TasksApp</title>
        <link rel="stylesheet" href="https://css.gg/css" />
        <link rel="stylesheet" href="/css/index.css" />
        {{#if styles}}
            <link rel="stylesheet" href="/css/{{styles}}.css" />
        {{/if}}
        {{#if styles2}}
            <link rel="stylesheet" href="/css/{{styles2}}.css">
        {{/if}}
        {{#if styles3}}
            <link rel="stylesheet" href="/css/{{styles3}}.css">
        {{/if}}
    </head>
    <body>

        {{> header}}

        {{#if user}}
            {{> sidebar}}
        {{/if}}

        <main class="main-container" id="main-container">
            <div class="logout-confirm" id="logout-confirm">
                <p class="confirm-text">¿Está Seguro?</p>
                <div class="confirm-buttons-container">
                    <a href="/logout" class="button confirm-button-yes">Cerrar Sesion</a>
                    <button
                        class="button"
                        id="confirm-button-no"
                    >Cancelar</button>
                </div>
            </div>
            <div id="main-blur-container"></div>
            {{#if message}}
                <div class="message-container" id="message-container">
                    <p class="message-text" id="message-text">{{message}}</p>
                    <button
                        class="message-button"
                        id="message-button"
                    >&Cross;</button>
                </div>
            {{/if}}
            {{{body}}}
        </main>

        <script src="/js/index.js" type="module"></script>
    </body>
</html>
