<div class="dashboard container">
    <section class="dashboard-section first">
        <div class="user-img-section">
            {{> user/avatar userImg=user.user_img}}
            <p class="username-container">{{user.username}}</p>
        </div>
        <div class="data-section">
            <div>
                <p class="tasks_doned">Tareas Hechas: {{tasksDonedCount}}</p>
                <hr class="line-div">
                <p class="tasks_total">Tareas Totales: {{tasksCount}}</p>
                <hr class="line-div">
            </div>
            <div>
                <p class="habits_total">Habitos Totales: {{habitsCount}}</p>
                <hr class="line-div">
                <p class="points">Puntos: {{points}}</p>
                <hr class="line-div">
            </div>
        </div>
    </section>
    <section class="dashboard-section second">
        {{> buttons/button_link url='/tasks/list' content='Lista de Tareas'}}
        {{> buttons/button_link url='/habits/list' content='Lista de Habitos'}}
    </section>
    <section class="dashboard-section third">
        <div class="habits-section">
            <h1 class="section-title">Habitos de Hoy</h1>
            <hr class="line-div">
            <div class="habits-section-today">
                {{> habits/listHabits}}                
            </div>
        </div>
        <div class="tasks-section">
            <h1 class="section-title">Tareas de Hoy</h1>
            <hr class="line-div">
            <div class="tasks-section-today">
                {{> tasks/listTasks}}
            </div>
        </div>
    </section>
</div>
