<div class="dashboard container">
    <section class="dashboard-section first">
        <div class="user-img-section">
            <div class="user-img-container">
                {{#if (compare user.user_img 'No photo')}}
                    <p class="no-user-img-text">Sin Imagen</p>
                {{else}}
                    <img src="/{{user.user_img}}" class="user-img">
                {{/if}}
            </div>
            <p class="username-container">{{user.username}}</p>
        </div>
        <div class="data-section">
            <div>
                <p class="tasks_doned">Tareas Hechas: {{tasksDonedCount}}</p>
                <hr class="line-div">
                <p class="tasks_total">Tareas Totales: {{tasksCount}}</p>
                <hr class="line-div">
            </div>
            <div>
                <p class="habits_total">Habitos Totales: {{habitsCount}}</p>
                <hr class="line-div">
                <p class="points">Puntos: {{points}}</p>
                <hr class="line-div">
            </div>
        </div>
    </section>
    <section class="dashboard-section second">
        <button class="main-button">
            <a href="/tasks/list">Lista de Tareas</a>
        </button>
        <button class="main-button">
            <a href="/habits/list">Lista de Habitos</a>
        </button>
    </section>
    <section class="dashboard-section third">
        <div class="habits-section">
            <h1 class="section-title">Habitos de Hoy</h1>
            <hr class="line-div">
            <div class="habits-section-today">
                {{> listHabits}}                
            </div>
        </div>
        <div class="tasks-section">
            <h1 class="section-title">Tareas de Hoy</h1>
            <hr class="line-div">
            <div class="tasks-section-today">
                {{> listTasks}}
            </div>
        </div>
    </section>
</div>
