<div class="scoretable container">
    <h1 class="main-title">Clasificacion</h1>
    <div class="score-table-header">
        <div class="user-points">
            <p>Tus Puntos:</p>
            <p>{{user.points}}</p>
        </div>
        {{> user/avatar userImg=user.user_img}}
        <div class="user-pos">
            <p>Tu Posicion:</p>
            <p>{{user.pos}}</p>
        </div>
    </div>
    <div class="score-table-body">
        <div class="user-position-header">
            <p>#</p>
            <p>Usuario</p>
            <p>Puntos</p>
        </div>
        <div class="user-position-body">
            {{#each users}}
                <div class="user-position">
                    <p class="user-position-pos">{{this.pos}}</p>
                    <div class="user-position-username">
                        {{> user/avatar userImg=this.user_img}}
                        <p>{{this.username}}</p>
                    </div>
                    <p class="user-position-points">{{this.points}}</p>
                </div>
            {{/each}}
        </div>
    </div>
</div>
